.input {
	padding: 0.5rem;
}
.inputLabel {
	display: block;

	width: 100%;
}
.inputBox {
	display: block;

	padding: 0.5rem;
	width: 100%;

	background-color: #fff;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	outline: none;
}
