.select {
	padding: 0.5rem;
}
.selectLabel {
	color: #fff;
	display: block;

	margin: 0.5rem 0;

	width: 100%;
}
.selectBox {
	display: block;

	padding: 0.5rem;
	width: 100%;

	background-color: #fff;

	border: none;
	border-radius: 10px;
	cursor: pointer;
	outline: none;
}
.selectOption {
}
