.footer {
	display: flex;
	background-color: #24242c;
	justify-content: center;
	align-items: center;

	padding: 0.5rem;
}
.footer__logo {
	height: auto;
	width: 60px;
}
.footer__text {
	color: #fff;
	font-weight: bold;
	font-size: 1.2rem;
	margin: 0 0.5rem;
	text-align: center;
}
